<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
1.在mybats的开发中namespace有特殊的意思，一定要是对应接口的全限定名
	通过namespace可以简历mapper.xml和接口之间的关系(名字不重要，位置不重要)
 -->
<mapper namespace="zy.mapper.StudentMapper">
	<select id="voList" resultType="zy.vo.ListVo">
        select s.name,d.dorm_name as dormName,d.dorm_num as dormNum,d.`limit` from t_student s LEFT JOIN t_dorm d on s.did = d.id
    </select>
    <select id="doLogin" parameterType="zy.entity.Student" resultType="zy.entity.Student">
        select * from t_student where name = #{name} and pwd = #{pwd}
    </select>

    <insert id="addStudent" parameterType="zy.entity.Student">
      INSERT INTO t_student (name) VALUES (#{name});
    </insert>
</mapper>